* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


h1 {
  margin: 0;
  text-align: center;
  color: #FFF;
  font-size: 1em;
  padding-top: 1em;
}

.logos {
  width: 2em;
  height: auto;
}

body, html {
  height: 100%;
}

body {
  background-color: #2B2733;
  color: #CBC9CF;
}

main {
  display: flex;
  width: 100%;
  height: 94vh;
}

header {
  height: 3em;
  text-align: center;
  width: 100%;
  background-color: #46424D;
}

h2 {
  margin-left: .6em;
}


.new-activity {
  background-color: #2B2733;
  color: #FFF;
  width: 70%;

}

.past-activity {
  display: grid;
  background-color: #2B2733;
  width: 30%;
  border-left: 3px solid #46424D;
}

form {
  padding: 2em 0 2em 0;
  border-radius: 1%;
  background-color: #46424D;
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(40px, auto);
  grid-template-areas:
    ". category-choice category-choice category-choice category-choice category-choice category-choice category-choice ."
    ". category-choice category-choice category-choice category-choice category-choice category-choice category-choice ."
    ". category-choice category-choice category-choice category-choice category-choice category-choice category-choice ."
    ". task-label task-label task-label task-label task-label task-label task-label ."
    ". task-input task-input task-input task-input task-input task-input task-input ."
    ". . . . . . . . ."
    ". minute-label minute-label minute-label . second-label second-label second-label ."
    ". minute-input minute-input minute-input . second-input second-input second-input ."
    ". . . . . . . . ."
    ". . . . . . start-activity start-activity ."
}

.category-choice p {
  font-size: .9em;

}

.category-choice {
  padding-bottom: 2em;
  grid-area: category-choice;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
  "select-cat select-cat select-cat . . . . ."
  "stud-button stud-button . med-button med-button . ex-button ex-button"
  "stud-button stud-button . med-button med-button . ex-button ex-button"
  ". . . . . . . ."
}
.category-choice p {
  grid-area: select-cat;
}

/* #stud-button,
#med-button,
#ex-button {
  display: inline;
  border-radius: 4%;
  border-width: .15em;
  width: 12em;
  height: 5em;
  background-color: transparent;
  color: #CBC9CF;
} */
.stud-button,
.med-button,
.ex-button {
  display: inline;
  border-radius: 4%;
  border-width: .15em;
  width: 12em;
  height: 5em;
  background-color: transparent;
  color: #CBC9CF;
  outline: none;
}

.med-color {
  color: #BE8CE5;
  border-color: #BE8CE5;
}

.stud-color {
  color: #B3FD78;
  border-color: #B3FD78;
}

.ex-color {
  color: #FD9089;
  border-color: #FD9089;
}



.stud-button {
  grid-area: stud-button;
  justify-self: start;
}


.med-button {
  grid-area: med-button;
  justify-self: center;

}

.ex-button {
  grid-area: ex-button;
  justify-self: end;

}

.task-label {
  grid-area: task-label;
}

#task-input,
#minute-input,
#second-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #CBC9CF;
}

#task-input {
  grid-area: task-input;
}

label {
  align-self: end;
}
.minute-label {
  grid-area: minute-label;

}

#minute-input {
  grid-area: minute-input;
}

.second-label {
  grid-area: second-label;
}

#second-input {
  grid-area: second-input;
}

#start-activity-button {
  grid-area: start-activity;
  border-radius: 4%;
  align-self: baseline;
  height: 2em;
  min-width: 10em;
  justify-self: end;
}
